@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Home/layout.cshtml";
}

<div class="flex justify-center items-center h-[70vh]">
    <form class="bg-gray-800 p-8 rounded-lg shadow-md w-full max-w-sm">
        <h2 class="text-xl font-semibold mb-6">Login</h2>
        <div class="mb-4">
            <label class="block mb-1">Username</label>
            <input type="text" class="w-full px-3 py-2 bg-gray-700 border border-gray-600 rounded" />
        </div>
        <div class="mb-6">
            <label class="block mb-1">Password</label>
            <input type="password" class="w-full px-3 py-2 bg-gray-700 border border-gray-600 rounded" />
        </div>
        <a type="submit" class="bg-yellow-500 text-black text-center px-4 py-2 rounded w-full hover:bg-yellow-400" href="/Home/Index">Sign In</a>
    </form>
</div>

